

.wrap{
	width:1140px;
	margin:0 auto;
}

header{
	background: green;
}

.conteiner{
	float: left;
	background: grey;
	width: 80%;
}

.conteiner, aside {
	height: 400px;
}

aside{
	float: left;
	background: red;
	width: 20%;
}

footer{
	background: yellow;
	clear: both;
}